{% extends "layout.njk"%}

{% block head %}
<title>{{item.title}}</title>
{% endblock %}


{% block content %}
    <div class="titulo">
        <h1>{{item.title}}</h1>
    </div>

    <section class="cards">

    
        <div class="card" id="{{item.id}}">
            <div class="containerVideos">
                <img src="https://img.youtube.com/vi/{{item.id}}/0.jpg" alt="{{item.title}}">
            </div>
            <div class="conteudo">
                <p>{{item.title}}</p>
            </div>
            <div class="info">
                <p class="nAulas">{{item.numeroAulas}}</p>
                <p class="price">{{item.price}}</p>
            </div>
        </div>
        
    </section>
    </main>
    <footer>
        <div class="nome">
            <p>Paulo Trindade</p>
        </div>
        <div class="menu">
            <a href="https://github.com/PauloRCTrindade" target="_blank">GitHub</a>
            <a href="">Linkedin</a>
            <a href="">Instagran</a>
        </div>
    </footer>
{% endblock%}