<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="script.js">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Videos Favoritos</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/">Sobre</a>
            <a href="/videos">Vídeos Favoritos</a>
        </div>
    </header>
    <main>
        <div class="titulo">
            <h1>Vídeos</h1>
        </div>

        <section class="cards">

            <div class="card" id="BXqUH86F-kA">
                <div class="containerVideos">
                    <img src="https://img.youtube.com/vi/BXqUH86F-kA/0.jpg" alt="aula JS">
                </div>
                <div class="conteudo">
                    <p>Curso de java Script</p>
                </div>
                <div class="info">
                    <p>Introdução </p>
                    <p class="price">FREE</p>
                </div>
            </div>

            <div class="card" id="uzEhd3Lugik">
                <div class="containerVideos">
                    <img src="https://img.youtube.com/vi/uzEhd3Lugik/0.jpg" alt="aula JS">
                </div>
                <div class="conteudo">
                    <p>Curso de java Script</p>
                </div>
                <div class="info">
                    <p>Play list</p>
                    <p class="price">FREE</p>
                </div>
            </div>

            <div class="card" id="FjT97HVT5g8">
                <div class="containerVideos">
                    <img src="https://img.youtube.com/vi/FjT97HVT5g8/0.jpg" alt="aula JS">
                </div>
                <div class="conteudo">
                    <p>Curso de java Script</p>
                </div>
                <div class="info">
                    <p>Play list</p>
                    <p class="price">FREE</p>
                </div>
            </div>

            <div class="card" id="H80nCKs9c2k">
                <div class="containerVideos">
                    <img src="https://img.youtube.com/vi/H80nCKs9c2k/0.jpg" alt="aula JS">
                </div>
                <div class="conteudo">
                    <p>Curso de java Script</p>
                </div>
                <div class="info">
                    <p>Play list</p>
                    <p class="price">FREE</p>
                </div>
            </div>

            <div class="card" id="uPFasdmZHJc">
                <div class="containerVideos">
                    <img src="https://img.youtube.com/vi/uPFasdmZHJc/0.jpg" alt="aula JS">
                </div>
                <div class="conteudo">
                    <p>Curso de java Script</p>
                </div>
                <div class="info">
                    <p>Play list</p>
                    <p class="price">FREE</p>
                </div>
            </div>

            <div class="card" id="3emz6rpcJyA">
                <div class="containerVideos">
                    <img src="https://img.youtube.com/vi/3emz6rpcJyA/0.jpg" alt="aula JS">
                </div>
                <div class="conteudo">
                    <p>Curso de java Script</p>
                </div>
                <div class="info">
                    <p>Play list</p>
                    <p class="price">FREE</p>
                </div>
            </div>

            <div class="card" id="5m4UhZd-Les">
                <div class="containerVideos">
                    <img src="https://img.youtube.com/vi/5m4UhZd-Les/0.jpg" alt="aula JS">
                </div>
                <div class="conteudo">
                    <p>Curso de java Script</p>
                </div>
                <div class="info">
                    <p>Play list</p>
                    <p class="price">FREE</p>
                </div>
            </div>
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a href="" class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                
                <div class="modal-content">
                    <iframe  frameborder="0"></iframe>
                </div>

            </div>
        </div>

        <script src="script.js"></script>
    </main>
    <footer>
        <div class="nome">
            <p>Paulo Trindade</p>
        </div>
        <div class="menu">
            <a href="https://github.com/PauloRCTrindade" target="_blank">GitHub</a>
            <a href="">Linkedin</a>
            <a href="">Instagran</a>
        </div>
    </footer>
    
</body>
</html>